@model Medyalar.Models.Medya
@{
    ViewData["Title"] = "ArchiveData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <img src="~/Images/warning.png" width="150" height="150" />
</div>
<br />
<h3>Kayıt arşivlenecektir, arşivlenen kayıtlar, listelerde görüntülenemezler, eskiye dönük raporlar bu durumdan etkilenmezler.</h3>

<div>
    <form asp-action="ArchiveData" class="text-center">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-light">İptal</a>
        <input type="submit" value="Tamam" class="btn btn-light" />
    </form>
</div>